<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<title>main.html</title>

<style type="text/css">

.btn{
	width: 150px;
	height: 100px;
	font-size: 2em;
}
</style>

</head>
<body>
	<div class="container" style="text-align: center; margin-top: 300px;" >
		
		<button onclick="location.href = 'boardList/1'" class="btn btn-info">재훈</button>
		
	</div>
</body>
</html>